<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to {{ server_ip }} Website</title>
</head>
<body>
    <h1>Welcome To  {{ server_ip }} Website</h1>
    <p>This is a placeholder homepage. Replace this content with your own.</p>
    <p>Server IP Address: {{ server_ip }}</p>
</body>
</html>
